flow.json
[
    {
        "id": "9465a2eb.fa826",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e6fbdb93.7ae4a8",
        "type": "tab",
        "label": "1flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1aca2f66.447f01",
        "type": "inject",
        "z": "e6fbdb93.7ae4a8",
        "name": "send",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 120,
        "wires": [
            [
                "2618c2be.a00f0e"
            ]
        ]
    },
    {
        "id": "2618c2be.a00f0e",
        "type": "debug",
        "z": "e6fbdb93.7ae4a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 120,
        "wires": []
    },
    {
        "id": "d5fa13bd.df6f9",
        "type": "inject",
        "z": "9465a2eb.fa826",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "9ce7a6bb.77c518"
            ]
        ]
    },
    {
        "id": "9ce7a6bb.77c518",
        "type": "debug",
        "z": "9465a2eb.fa826",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 100,
        "wires": []
    },
    {
        "id": "443cac1a.fe3eb4",
        "type": "inject",
        "z": "9465a2eb.fa826",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "20a4eff1.de6d6"
            ]
        ]
    },
    {
        "id": "20a4eff1.de6d6",
        "type": "debug",
        "z": "9465a2eb.fa826",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "d4ab300d.07c4f",
        "type": "inject",
        "z": "9465a2eb.fa826",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "1d568ebf.571391"
            ]
        ]
    },
    {
        "id": "96c7aab8.095d38",
        "type": "debug",
        "z": "9465a2eb.fa826",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 260,
        "wires": []
    },
    {
        "id": "1d568ebf.571391",
        "type": "function",
        "z": "9465a2eb.fa826",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 250,
        "y": 280,
        "wires": [
            [
                "96c7aab8.095d38"
            ]
        ]
    }
]